@import-normalize;
@import "common/resources";

* {
    box-sizing: inherit;

    &::before,
    &::after {
        box-sizing: inherit;
    }
}

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

p,
ol,
ul,
blockquote,
figure {
    margin: 0;
    padding: 0;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    color: $color-neutral-6;
    background-color: $color-neutral-1;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 8px;
    color: $color-neutral-6;
    font-weight: 700;
    line-height: 1.2;
}

p {
    margin-top: 0;
    line-height: 1.375;
}

a {
    color: $color-primary;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.3s;

    &:hover {
        color: darken($color-primary, 10);
    }
}

small {
    font-size: 16px;
}

ul {
    margin: 0 0 0 20px;
    padding: 0 0 0 20px;
    list-style: disc;

    li {
        margin: 0;
        padding: 0;
        display: list-item;
        list-style-position: outside;
        line-height: 1.375;
    }
}
