// actions
$color-primary: #0060fc;
$color-secondary: #36d663;
$color-accent: #86d5df;

// neutrals
$color-black: #000000;
$color-neutral-6: #424242;
$color-neutral-5: #53575e;
$color-neutral-4: #666f7f;
$color-neutral-3: #bbbfc6;
$color-neutral-2: #d5d9df;
$color-neutral-1: #f5f6f7;
$color-white: #ffffff;

// states
$color-success: #34a847;
$color-error: #d0021b;
